# gradle

.gradle/
build/
out/

# idea

.idea/
*.iml
*.ipr
*.iws

# fabric

run/

# General use .gitignore for Minecraft modding.

# Directories
/.gradle/
/.vscode/
/build/
/eclipse/
/run/
/out/
/asm/
/bin/
/.idea/
/.metadata/
/.settings/
/libs/

# File Extensions
*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project
*.class

# Specific files
Thumbs.db
